<div id="container">
  <div id="glass">
    <h1>IP Info!</h1>
    <div id="form">
      <input type="text" [(ngModel)]="ip" />
      <div id="check">
        <input type="checkbox" [checked]="myip" (change)="fetchIP()" />
        <label>Use My IP</label>
      </div>
      <input
        id="operation"
        type="button"
        (click)="BasicInfo()"
        value="Basic Info"
      />
    </div>
    <hr />
    <div id="output" *ngIf="basicInfo !== undefined">
      <h2>Basic Info:</h2>
      <strong>Location:</strong> {{ basicInfo.loc }} <br />
      <strong>Postal:</strong> {{ basicInfo.postal }} <br />
      <strong>City:</strong> {{ basicInfo.city }}<br />
      <strong>Region:</strong> {{ basicInfo.region }} <br />
      <strong>Country:</strong> {{ basicInfo.country }} <br />
      <strong>TimeZone:</strong> {{ basicInfo.timezone }} <br />
      <strong>ASN:</strong> {{ basicInfo.org }}<br />
    </div>
  </div>
</div>
